@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  scroll-behavior: smooth !important;
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.767);
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .platform__animation__scale_1-05 {
    transition: transform 0.5s;
  }

  .platform__animation__scale_1-05:hover {
    transform: scale(1.05);
  }

  .platform__animation__scale_1-1 {
    transition: transform 0.5s;
  }

  .platform__animation__scale_1-1:hover {
    transform: scale(1.1);
  }

  .platform__animation__scale_1-2 {
    transition: transform 0.5s;
  }

  .platform__animation__scale_1-2:hover {
    transform: scale(1.2);
  }

  .platform__animation__scale_1-3 {
    transition: transform 0.5s;
  }

  .platform__animation__scale_1-3:hover {
    transform: scale(1.3);
  }
}
